#freelancersContainer {
    background-color: rgb(78, 44, 110);
}

h1{
    background-color: rgb(211, 178, 70);
}

div{
    color: rgb(53, 230, 62);
}

#average-price-message{
    background-color: black;
}